@model Open.Facade.Process.SuggestionViewModel
@using System.Collections
@using Open.Core
@using Open.Facade.Product
@using Open.Sentry1.Controllers
@using Open.Sentry1.Extensions
@{
    ViewBag.Title = "Lisa soovitus";
    ViewBag.Button = "Lisa";
    Layout = "_EditPartial";
    string medicineName = "", dateAssigned = "", effects = "";
    Dictionary<string, string> dict = ViewBag.Dictionary;
    var afterError = ViewBag.AfterError;
    var modalHeader = "Teadaolevad vastunäidistused puuduvad";
    var suitability = "Suitable";
    var priority=false;

    if (afterError)
    {
        suitability = "NotSuitable";
        modalHeader = "Hoiatus!";
        medicineName = dict["MedicineName"];
        dateAssigned = dict["DateAssigned"];
        effects = dict["Effects"];

    }
    var medicines = ViewBag.Medicines as IEnumerable<SelectListItem>;
    //var prevDisabled = !medicines.HasPreviousPage ? "disabled" : "";
    //var nextDisabled = !medicines.HasNextPage ? "disabled" : "";
}
<div align="center">
    <b>
        Soovitus patsiendile: @ViewBag.PatientName
    </b>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
@if (afterError)
{
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#loginModal').modal('show');
        });
    </script>
}


<body>
    <div class="form-group">
        <div class="col-md-4" style="margin-top: 10px">
            <div class="form-horizontal" align="right">
                <b>Lisa ravim: </b>@Html.DropDownList("medicineId", new SelectList(medicines, "Value", "Text"), new { @class = "selectpicker" })
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.MedicineID)
    @Html.EditingControlsForEnum(model => model.TypeOfTreatment)
    @Html.EditingControlsFor(model => model.Length)
    @Html.EditingControlsFor(model => model.Amount)
    @Html.EditingControlsFor(model => model.Times)
    @Html.EditingControlsFor(model => model.TimeOfDay)
    @Html.EditingControlsFor(model => model.ValidFrom)
    @Html.EditingControlsFor(model => model.ValidTo)
</body>
@section Actions
    {@Html.ActionLink("Tagasi", "PatientInfo", new {IDCode = Model.ID})}



<style type="text/css">
    .Suitable {
        color: green;
    }

    .NotSuitable {
        color: red;
    }
</style>

<div>
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    @*<button id="btnShowModal" type="button"
                            class="btn btn-sm btn-default pull-left col-lg-11 button button4">
                        Ava modal
                    </button>*@
                    <div class="modal fade" tabindex="-1" id="loginModal"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                    <h4 class="modal-title @suitability" class="">@modalHeader</h4>
                                </div>
                                <div class="modal-body">
                                    @{
                                        if (afterError)
                                        {
                                            <p>Antud ravim ei pruugi sellele patsiendile sobida eelneva probleemi tõttu:</p>
                                            <p>Ravimi nimi: @medicineName</p>
                                            <p>Tomeained ravimis: @effects</p>
                                            <p>Soovituse tegemise kuupäev: @dateAssigned</p>
                                        }
                                        else
                                        {
                                            <p>Võite jätkata soovituse kinnitamisega</p>
                                        }
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" name="button" value="prior" class="btn btn-primary button button4">Kinnita soovitus</button>
                                    <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                                        Katkesta
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>


