@using Open.Sentry1.Extensions
@model Open.Facade.Person.PersonInfoViewModel

@{
    ViewBag.Title = "Muuda";
    ViewBag.Button = "Salvesta";
    Layout = "_EditPartial";
}
<body>
    @Html.ViewingControlsFor(model => model.ValidFrom)
    @Html.ViewingControlsFor(model => model.ValidTo)
    @Html.ViewingControlsFor(model => model.MedicineName)
    @Html.ViewingControlsFor(model => model.FormOfInjection)
    @Html.EditingControlsForEnum(model => model.Suitability)
    @Html.EditingControlsFor(model => model.Description)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.MedicineID)
    @Html.HiddenFor(model => model.DosageID)
</body>

@section Actions
    {@Html.ActionLink("Tagasi", "PatientInfo", new { id = Model.ID })}