@model Open.Facade.Person.PersonViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Soovitused";
    string word = "NB!";
}

<h2>@ViewBag.Title</h2>

@*<form asp-action=@ViewBag.ActionIndex method="get">
        <div class="form-horizontal">
            <p>
                Search for patient (ID Code): <input type="text" name="SearchString" />
                <br />
                <button type="button" onclick="location.href='@Url.Action("PatientInfo","Suggestions", new { id_code=Model.IDCode})'">Search</button>
            </p>
        </div>
    </form>*@
<div class="text-danger" style="font-size: large">
    @ViewBag.Message
</div>

@Html.ValidationMessageFor(model => model.IDCode)
@using (Html.BeginForm("Patientinfo", "Suggestions", FormMethod.Post))
{

    @Html.TextBoxFor(model => model.IDCode)

    <button type="submit">Otsi</button><br />
    <br />
    <button type="button" onclick="location.href='@Url.Action("Create","Persons")'">Lisa patsient</button>
}



