@using Open.Sentry1.Extensions
@model Open.Facade.Person.PersonViewModel

@{
    ViewData["Title"] = "PatientInfo";
}

<h2>Patient Info</h2>

<h3>@Html.ViewingControlsFor(model => model.IDCode)</h3>
<h3>@Html.ViewingControlsFor(model => model.FirstName)</h3>
<h3>@Html.ViewingControlsFor(model => model.LastName)</h3>
<br />

@*<body>
    <p>Suggestions already made to the patient</p>
    <table class="table">
        @{ var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortFormOfInjection"], model => dummy.FormOfInjection)
                @Html.SortColumnHeaderFor(ViewData["SortStrength"], model => dummy.Strength)
                @Html.SortColumnHeaderFor(ViewData["SortManufacturer"], model => dummy.Manufacturer)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], model => dummy.ValidFrom)
                @Html.SortColumnHeaderFor(ViewData["SortValidTo"], model => dummy.ValidTo)
                <th></th>
            </tr>
        </thead>
    </table>
</body>*@



