@using Open.Sentry1.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Product.MedicineViewModel>

@{
    ViewData["Title"] = "PatientInfo";
}

<h2>Patient Info</h2>

<h3>ID Code: </h3>
<h3>First Name: </h3>
<h3>Last Name: </h3>
<br />

<body>
    <p>Suggestions already made to the patient</p>
    <table class="table">
        @{ var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortFormOfInjection"], model => dummy.FormOfInjection)
                @Html.SortColumnHeaderFor(ViewData["SortStrength"], model => dummy.Strength)
                @Html.SortColumnHeaderFor(ViewData["SortManufacturer"], model => dummy.Manufacturer)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], model => dummy.ValidFrom)
                @Html.SortColumnHeaderFor(ViewData["SortValidTo"], model => dummy.ValidTo)
                <th></th>
            </tr>
        </thead>
    </table>
</body>



