@using Open.Sentry1.Extensions
@model Open.Facade.Person.PersonViewModel

@{
    ViewData["Title"] = "Patsiendile kirjutatud soovitused";
}

<h2>Patsiendile kirjutatud soovitused</h2>

<h3>@Html.ViewingControlsFor(model => model.IDCode)</h3>
<h3>@Html.ViewingControlsFor(model => model.FirstName)</h3>
<h3>@Html.ViewingControlsFor(model => model.LastName)</h3>
@Html.ViewingControlsFor(model => model.ValidFrom)
@Html.ViewingControlsFor(model => model.Address)
@Html.ViewingControlsFor(model => model.Email)
@Html.ViewingControlsFor(model => model.PhoneNumber)
@Html.ViewingControlsFor(model => model.GetMedicineInfo)
<br />

<P style="font-size:130%;">&nbsp;</P>
<P style="font-size:130%;">&nbsp;</P>
    <table class="table">
        @{ var dummy = Model.SuggestionsMade.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.MedicineName)
                @Html.SortColumnHeaderFor(ViewData["SortFormOfInjection"], model => dummy.FormOfInjection)
                @Html.SortColumnHeaderFor(ViewData["SortFormOfInjection"], model => dummy.Suitable)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], model => dummy.ValidFrom)
                @Html.SortColumnHeaderFor(ViewData["SortValidTo"], model => dummy.ValidTo)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SuggestionsMade)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MedicineName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FormOfInjection)</td>
                    <td>@Html.DisplayFor(modelItem => item.Suitable)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                    @Html.EditDetailDeleteFor(modelItem => item.ID)
                </tr>
            }
        </tbody>
    </table>
</body>





