@using Open.Sentry1.Extensions
@model Open.Facade.Person.PersonViewModel

@{
    ViewBag.Title = "Lisa patsient";
    ViewBag.Subtitle = "Patsient";
    ViewBag.Button = "Lisa";
    Layout = "_EditPartial";
}

<div class="text-danger" style="font-size: large">
    @ViewBag.Message
</div>
<body>
    @Html.EditingControlsFor(model => model.IDCode)
    @Html.EditingControlsFor(model => model.FirstName)
    @Html.EditingControlsFor(model => model.LastName)
    @Html.EditingControlsFor(model => model.ValidFrom)
    @Html.EditingControlsFor(model => model.ValidTo)
</body>

@section Actions
    {@Html.ActionLink("Tagasi", "Index")}



@*@{
        Layout = "_Layout";
        ViewBag.Title = "Lisa patsient";
        ViewBag.Subtitle = "Patsient";
        ViewBag.Button = "Lisa";
    }

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>@ViewBag.SubTitle</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="text-danger" style="font-size: large">
                @ViewBag.Message
            </div>
            <body>
                @Html.EditingControlsFor(model => model.IDCode)
                @Html.EditingControlsFor(model => model.FirstName)
                @Html.EditingControlsFor(model => model.LastName)
                @Html.EditingControlsFor(model => model.ValidFrom)
                @Html.EditingControlsFor(model => model.ValidTo)
            </body>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@ViewBag.Button class="btn btn-default" />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Tagasi", "Index")
    </div>*@






