@using Open.Sentry1.Extensions
@model Open.Facade.Person.PersonViewModel

@{
    ViewBag.Title = "Lisa patsient";
    ViewBag.Subtitle = "Patsient";
    ViewBag.Button = "Lisa";
    Layout = "_EditPartial";
}

<div class="text-danger" style="font-size: large">
    @ViewBag.Message
</div>
<body>
    @Html.EditingControlsFor(model => model.IDCode)
    @Html.EditingControlsFor(model => model.FirstName)
    @Html.EditingControlsFor(model => model.LastName)
    @Html.EditingControlsFor(model => model.Address)
    @Html.EditingControlsFor(model => model.Email)
    @Html.EditingControlsFor(model => model.PhoneNumber)
    @Html.EditingControlsForEnum(model => model.GetMedicineInfo)
    @Html.EditingControlsFor(model => model.ValidFrom)
</body>
@section Actions
    {@Html.ActionLink("Tagasi", "Index")}
