@using Open.Facade.Product
@using Open.Sentry1.Extensions
@model Open.Facade.Product.CategoryViewModel

@{
    ViewBag.Title = "Lisa uus kategooria";
    ViewBag.Button = "Kinnita";
    Layout = "_EditPartial";
}

<body>
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UserID)
    @Html.EditingControlsFor(model => model.CategoryName)
    @Html.HiddenFor(model => model.ValidFrom)
    @Html.HiddenFor(model => model.ValidTo)
</body>

@section Actions
{@Html.ActionLink("Tagasi portfelli", "Index")}
