@using Open.Sentry1.Extensions
@model Open.Facade.Product.EffectViewModel
@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = "Effect";
    Layout = "_DetailsPartial";
}

<body>
    @Html.ViewingControlsFor(model => model.Name)
    @Html.ViewingControlsFor(model => model.ValidFrom)
    @Html.ViewingControlsFor(model => model.ValidTo)

    @if (Model.UsedInMedicines.Count >= 0)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.UsedInMedicines, new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="margin-top: 10px">
                <table class="table">
                    @{ var r = Model.UsedInMedicines.FirstOrDefault(); }
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(x => r.Name)</th>
                            <th>@Html.LabelFor(x => r.AtcCode)</th>
                            <th>@Html.LabelFor(x => r.ValidFrom)</th>
                            <th>@Html.LabelFor(x => r.ValidTo)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UsedInMedicines)
                        {
                        <tr>
                            <td>@Html.DisplayFor(x => item.Name)</td>
                            <td>@Html.DisplayFor(x => item.AtcCode)</td>
                            <td>@Html.DisplayFor(x => item.ValidFrom)</td>
                            <td>@Html.DisplayFor(x => item.ValidTo)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</body>

@section Actions
    {@Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    @Html.ActionLink("Back to List", "Index")}


