@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Open.Sentry1.Extensions
@model Open.Facade.Product.MedicineViewModel
@{
    ViewBag.Title = "Detailid";
    ViewBag.SubTitle = "Ravim";
    Layout = "_DetailsPartial";
}

<body>
    @Html.ViewingControlsFor(model => model.Name)
    @Html.ViewingControlsFor(model => model.FormOfInjection)
    @Html.ViewingControlsFor(model => model.Strength)
    @Html.ViewingControlsFor(model => model.Manufacturer)
    @*@Html.ViewingControlsFor(model => model.LegalStatus)
    @Html.ViewingControlsFor(model => model.AtcCode)   
    @Html.ViewingControlsFor(model => model.Reimbursement)
    @Html.ViewingControlsFor(model => model.Spc)
    @Html.ViewingControlsFor(model => model.Pil)
    @Html.ViewingControlsFor(model => model.ValidFrom)
    @Html.ViewingControlsFor(model => model.ValidTo)*@

    @if (Model.EffectsInMedicine.Count >= 0)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.EffectsInMedicine, new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="margin-top: 10px">
                <table class="table">
                    @{ var r = Model.EffectsInMedicine.FirstOrDefault(); }
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(x => r.Name)</th>
                            @*<th>@Html.LabelFor(x => r.ValidFrom)</th>
                            <th>@Html.LabelFor(x => r.ValidTo)</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.EffectsInMedicine)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.Name)</td>
                                @*<td>@Html.DisplayFor(x => item.ValidFrom)</td>
                                <td>@Html.DisplayFor(x => item.ValidTo)</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</body>

@section Actions
    {@Html.ActionLink("Muuda", "Edit", new { id = Model.ID })
    @Html.ActionLink("Tagasi", "Index")
@Html.ActionLink("Küsi ravimiesindajalt", "Ask")}
