@using Open.Sentry1.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Product.MedicineViewModel>
@{
    ViewBag.Title = "Ravimid";
    Layout = "_IndexPartial";
}

@section Create{
    <a asp-action=Create><button class="btn btn-primary">Lisa uus Ravim</button></a>
    <br>
    <br>
    <br><strong>Otsi ravimit nime järgi:</strong>
}

<body>
    <table class="table">
        @{ var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.EmptyHeader)
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortAtcCode"], model => dummy.AtcCode)
                @Html.SortColumnHeaderFor(ViewData["SortFormOfInjection"], model => dummy.FormOfInjection)
                @Html.SortColumnHeaderFor(ViewData["SortStrength"], model => dummy.Strength)
                @Html.SortColumnHeaderFor(ViewData["SortManufacturer"], model => dummy.Manufacturer)
                @Html.SortColumnHeaderFor(ViewData["SortLegalStatus"], model => dummy.LegalStatus)
                @Html.SortColumnHeaderFor(ViewData["SortReimbursement"], model => dummy.Reimbursement)
                @Html.SortColumnHeaderFor(ViewData["SortSpc"], model => dummy.Spc)
                @Html.SortColumnHeaderFor(ViewData["SortPil"], model => dummy.Pil)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], model => dummy.ValidFrom)
                @Html.SortColumnHeaderFor(ViewData["SortValidTo"], model => dummy.ValidTo)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><button type="button" onclick="location.href='@Url.Action("DosageSchemeMed","Suggestions", new { id=item.ID})'">Lisa soovitus</button></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.AtcCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.FormOfInjection)</td>
                    <td>@Html.DisplayFor(modelItem => item.Strength)</td>
                    <td>@Html.DisplayFor(modelItem => item.Manufacturer)</td>
                    <td>@Html.DisplayFor(modelItem => item.LegalStatus)</td>
                    <td>@Html.DisplayFor(modelItem => item.Reimbursement)</td>
                    <td>@Html.DisplayFor(modelItem => item.Spc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pil)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                    @Html.Toimeained(modelItem => item.ID)
                </tr>
            }
        </tbody>
    </table>
</body>

