@using Open.Sentry1.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Money.CurrencyViewModel>

@{
    ViewBag.Title = "Currencies";
    Layout = "_IndexPartial";
}

@section Create{
    <a asp-action=Create>Create New</a>
}

<body>
    <table class="table">
        @{ var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortAlpha3"], Model => dummy.Alpha3Code)
                @Html.SortColumnHeaderFor(ViewData["SortAlpha2"], Model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortName"], Model => dummy.CurrencySymbol)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], Model => dummy.ValidFrom)
                @Html.SortColumnHeaderFor(ViewData["SortValidTo"], Model => dummy.ValidTo)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Alpha3Code)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.CurrencySymbol)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                    @Html.EditDetailDeleteFor(modelItem => item.Alpha3Code)
                </tr>
            }
        </tbody>
    </table>
</body>

